* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #4A90E2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.todo-container {
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.todo-header { padding: 25px 30px; }

h1 {
    text-align: center;
    margin-bottom: 20px;}

#task-form {
    display: flex;
}

#task-input {
    flex-grow: 1;
    border: 1px solid #dcdcdc;
}

#task-form button {
    background-color: #4A90E2;
    color: white;
    cursor: pointer;
}

#task-list {
    list-style: none;
}

#task-list li {
    display: flex;
    align-items: center;
    padding: 12px 30px;
    border-bottom: 1px solid #f0f0f0;
}